<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=evgeniy-lyakh-study-server.database.windows.net;Initial Catalog=invest_projects;User ID=ev.lyakh;Password=e-A*182140*"         
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

<!-- "Data Source=.\SQLEXPRESS;Initial Catalog=invest_projects;Integrated Security=True" -->